<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
            rel="stylesheet"
        />
        <title>Trends</title>
    </head>
    <body>
        <%- include('./partials/navbar') %>

        <section class="hero-section">
            <div class="container">
                <h1 class="heading">
                    Find The Trending Videos from Youtube in One Click
                </h1>
                <form class="btn-container" method="post" action="/trending">
                    <button type="submit" class="btn">fetch.</button>
                </form>
            </div>
        </section>

        <section class="videos-section">
            <div class="container">
                <div class="videos-box">
                    <% data.forEach(video => { %>
                    <div class="video-card">
                        <div class="img-container">
                            <img
                                class="image"
                                src="<%= video.videoThumbnail %>"
                                alt=""
                                srcset=""
                            />
                        </div>
                        <div class="card-content">
                            <h1 class="card-video-title">
                                <a
                                    href="/trendingdb/<%=video.videoId%>" target="_blank"
                                    ><%=video.title%></a
                                >
                            </h1>
                            by
                            <a
                                href="https://www.youtube.com/<%=video.authorUrl%>"
                                target="_blank"
                                ><%=video.author %></a
                            >
                            <p><%=video.viewCount %> Views</p>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
